/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

p, ul {
  margin: 0 0 0.5em 0;
  padding: 0;
}

ul,
ul li {
  list-style: none;
}

p.sub {
  margin-left: 2em;
}

ul p.sub {
  margin-top: 0;
  margin-bottom: 0;
}

label[disabled="true"] {
  opacity: 0.5;
}
label[disabled="true"] input {
  opacity: 1;
}


#section-projects {
  min-height: 30em; /* enough to show dialog */
}

.rich-confirm {
  background: transparent !important;
}

.rich-confirm,
.rich-confirm-row {
  flex-direction: unset !important;
  justify-content: unset !important;
}

.rich-confirm-dialog {
  position: fixed !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table tr:not(:first-child) {
  border-top: 1px solid;
}

td.control {
  text-align: center;
  white-space: nowrap;
}

:root:not(.show-builtin-projects) #builtinProjectRows .project {
  display: none;
}


#defaultValues {
  margin-top: 1em;
}

#defaultValues input {
  width: 100%;
}


:root:not(.debugging) #debug-configs {
  max-height: 0;
  overflow: hidden;
}

:root:not(.debugging) #debug-configs * {
  -moz-user-focus: ignore;
  -moz-user-input: disabled;
}

:root:not(.platform-mac) .available-only-on-mac {
  display: none;
}

